<!DOCTYPE html>
<html>

<style type="text/css">
body{background-color:PowderBlue;  }
a{background-color:MidnightBlue; color:White; text-decoration:none; text-align:right;}
	</style>
<body><br><br><br>
<img src="/http:/data/media/1.jpg"/>
<h1 style="background-color:MidnightBlue; font-size:20px; color:MidnightBlue">h</h1>
<h1 style="background-color:White; font-size:33px; color:MidnightBlue; margin:0; padding:0.2em;"><marquee behavior="slide" scrollamount="6">
	WELCOME TO</h1> <h1 style="font-size:25px; ">STUDENT <br>MANAGEMENT SYSTEM</marquee></h1>
<h1 style="background-color:MidnightBlue; font-size:20px; color:MidnightBlue;"><marquee behavior="slide" scrollamount="6">
	<a href="/search/">Home Page</a></marquee><h1><br><br>


</style>
</body>
</html>